body{
  background-image: url(images/backgroundimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
html {
  height: 100%;
  width: 100%;
}
header{
 
  margin-top: 90px;
  font-size: 50px;
  color:#fbf4f4;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif
}
p{
  background-color: #000000;
  color: #fbf4f4;
}
.container{
  width:25%;
  float: left;
  margin-left:100px;
  margin-right:10px;
  margin-bottom:20px;
  padding-top: 80px;
}
.navbar{
  overflow: hidden;
  background-image: url(images/stars.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color:#FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #FFFFFF;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3B0BFF;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #E6DF7B;
}
a:visited{color:#FFA429;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
footer{
  background-color:#000000;
  color:#FFFFFF;
  font-size:1em;
  font-style:italic;
  text-align:center;
  padding:1em;
  position:relative;
  margin-top:200px;
}

#mobile{ display:none;}
#desktop{display:inline;}
@media only screen and (max-width:1024px){
  body{
    margin:0;
    padding:0;
    
  }
  #wrapper{
    width:auto;
    min-width:0;
    margin:0;
    box-shadow: none;
  }
  h1{
    margin:0;
  }

  main{
    padding:1em;
    margin-left:0;
    font-size:90%;
  }
  footer{margin:0;}
  
}
@media only all and (max-width: 768px){
h1{
  height:100%;
  font-size:1.5em;
  padding-left:0.3em;
}
main{
  padding-top:01em;
  padding-right:0.6em;
  padding-bottom:0.1em;
  padding-left:0.4em;
}
  img{
    height:60px;
    width: 60px;
  }
  p{
    font-size: 80%;
  }
}
